<div class="panel panel-default">
  <div class="panel-body row app-profile-container">
      <div class="app-profile-background"></div>
      <div class="col-sm-12 col-md-2 col-lg-2 app-profile-container">
          <img src="assets/mcfly.jpg" class="app-profile-picture img-responsive img-thumbnail">
      </div>
      <div class="col-sm-12 col-md-10 col-lg-10">
          <h2>Marty McFly</h2>
          <table class="table table-hover app-profile-data">
              <tr>
                <th>Date of birth</th>
                <td>June 12, 1968</td>
              </tr>
              <tr>
                <th>Birthplace</th>
                <td>Hill Valley, CA</td>
              </tr>
              <tr>
                <th>Occupation</th>
                <td>Time traveler</td>
              </tr>
              <tr>
                <th>Aliases</th>
                <td>Calvin Klein, Clint Eastwood</td>
              </tr>
          </table>
      </div>
  </div>
</div>
